html,
body {
  color: #c99a46;
  font-family: Arial, Helvetica, sans-serif;
}

html {
  font-size: 16px;
  background-color: rgb(79, 62, 55);
}
body {
  font-family: "Comic Neue";
  justify-content: center;
  box-sizing: border-box;
}
.update {
  flex: 1;
  top: 5px;
  right: 15px;
  position: absolute;
  font-family: "Fira Code";
  font-size: 12px;
}

.container {
  justify-content: center;
  margin-top: 10%;
}

header {
  display: flex;
  margin-bottom: 15px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.portrait {
  border-radius: 50%;
  border: 2px solid #c99a46;
  width: 9rem;
  height: 9rem;
  align-items: center;
  user-select: none;
}

.title {
  margin: 5px;
}

.title > a {
  color: #c99a46;
  font-size: 2rem;
  font-weight: lighter;
  font-style: italic;
  align-items: center;
}

nav {
  text-align: center;
  display: block;
  margin: 6px;
}

nav > a {
  color: #ffffff;
  text-decoration: none;
}

.content {
  display: flex;
  margin-bottom: 15px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.content > p{
  margin: 6px;
}

a {
  margin-top: 0.5rem;
  margin-left: 0.5em;
  margin-right: 0.5em;
  text-decoration: none;
}

hr {
  width: 42%;
  margin: 0 auto;
  border: 0;
  height: 1px;
  background: #333;
  background-image: linear-gradient(
    to right,
    rgb(33, 33, 33),
    red,
    rgb(33, 33, 33)
  );
}

footer {
  margin-top: 25px;
  bottom: 15px;
  color: ivory;
  text-align: center;
  font-size: 13px;
}

footer > div > a {
  font-style: italic;
  text-decoration: none;
  color: ivory;
}

*::selection {
  text-shadow: none;
  background: rgba(14, 101, 166, 28);
}
