<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ .Options.Site.Title }}</title>
</head>
<body>
  {{ if eq .Mode 0 }}
  {{template "partials/post.html" .}}
  {{ else if eq .Mode 1 }}
  {{template "partials/post.html" .}}
  {{ else if eq .Mode 2 }}
  {{template "partials/page.html" .}}
  {{ else }}
  <h1>FAILED</h1>
  {{ end }}
</body>
</html>